Source: jcl
Maintainer: David Rousselie <dax@happycoders.org>
Section: python
Priority: optional
Build-Depends: debhelper (>=7.0.50~), python-support (>= 0.6), cdbs (>= 0.4.49), python-all-dev
Standards-Version: 3.8.4

Package: python-jcl
Architecture: all
Depends: ${python:Depends}, python-sqlobject (>= 0.8), python-pyxmpp (>= 1.0.1), python-pysqlite2 (>= 2.0)
Suggests:
Provides: ${python:Provides}
Description: Jabber Component Library
